USE [master]
GO
/****** Object:  Database [AgenstvoNedvezj]    Script Date: 22.02.2023 14:06:58 ******/
CREATE DATABASE [AgenstvoNedvezj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TyrAgenstvo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TyrAgenstvo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TyrAgenstvo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TyrAgenstvo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgenstvoNedvezj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgenstvoNedvezj]
GO
/****** Object:  Table [dbo].[Nedvezj]    Script Date: 22.02.2023 14:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nedvezj](
	[IdNedvezj] [int] IDENTITY(1,1) NOT NULL,
	[IdNedvezjType] [int] NOT NULL,
	[IdRayon] [int] NOT NULL,
	[Address] [nvarchar](70) NOT NULL,
	[Square] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Opisanie] [nvarchar](max) NOT NULL,
	[IdProdavec] [int] NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
	[Actual] [bit] NOT NULL,
 CONSTRAINT [PK_Nedvezj] PRIMARY KEY CLUSTERED 
(
	[IdNedvezj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NedvezjType]    Script Date: 22.02.2023 14:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NedvezjType](
	[IdNedvezjType] [int] IDENTITY(1,1) NOT NULL,
	[NedvezjTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NedvezjType] PRIMARY KEY CLUSTERED 
(
	[IdNedvezjType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodavec]    Script Date: 22.02.2023 14:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodavec](
	[IdProdavec] [int] IDENTITY(1,1) NOT NULL,
	[Familia] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Otchestvo] [nvarchar](50) NOT NULL,
	[Tel] [nvarchar](17) NOT NULL,
 CONSTRAINT [PK_Prodavec] PRIMARY KEY CLUSTERED 
(
	[IdProdavec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rayon]    Script Date: 22.02.2023 14:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rayon](
	[IdRayon] [int] IDENTITY(1,1) NOT NULL,
	[NameRayona] [nvarchar](50) NOT NULL,
	[NumRayona] [int] NOT NULL,
 CONSTRAINT [PK_Rayon] PRIMARY KEY CLUSTERED 
(
	[IdRayon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sdelki]    Script Date: 22.02.2023 14:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sdelki](
	[IdSdelki] [int] NOT NULL,
	[IdNedvej] [int] NOT NULL,
	[IdProdavec] [int] NOT NULL,
	[DateSdelki] [date] NOT NULL,
	[KomissiaAgenstva] [int] NOT NULL,
 CONSTRAINT [PK_Sdelki] PRIMARY KEY CLUSTERED 
(
	[IdSdelki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.02.2023 14:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[idProdavec] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Nedvezj] ON 

INSERT [dbo].[Nedvezj] ([IdNedvezj], [IdNedvezjType], [IdRayon], [Address], [Square], [Price], [Opisanie], [IdProdavec], [Image], [Actual]) VALUES (1, 1, 1, N'ул. Победы,14', 20, 2153345, N'Квартира около центра, магазины в доступности', 2, N'P1', 1)
INSERT [dbo].[Nedvezj] ([IdNedvezj], [IdNedvezjType], [IdRayon], [Address], [Square], [Price], [Opisanie], [IdProdavec], [Image], [Actual]) VALUES (3, 2, 3, N'ул. Амурская, 10', 25, 4235534, N'Евро ремонт, газовая плитка', 3, N'P2', 0)
INSERT [dbo].[Nedvezj] ([IdNedvezj], [IdNedvezjType], [IdRayon], [Address], [Square], [Price], [Opisanie], [IdProdavec], [Image], [Actual]) VALUES (4, 3, 4, N'ул. Победы, 25', 30, 5345345, N'Электро плитка, с мебелью', 4, N'P3', 1)
SET IDENTITY_INSERT [dbo].[Nedvezj] OFF
GO
SET IDENTITY_INSERT [dbo].[NedvezjType] ON 

INSERT [dbo].[NedvezjType] ([IdNedvezjType], [NedvezjTypeName]) VALUES (1, N'Квартира 1-к')
INSERT [dbo].[NedvezjType] ([IdNedvezjType], [NedvezjTypeName]) VALUES (2, N'Квартира 2-к')
INSERT [dbo].[NedvezjType] ([IdNedvezjType], [NedvezjTypeName]) VALUES (3, N'Квартира 3-к')
SET IDENTITY_INSERT [dbo].[NedvezjType] OFF
GO
SET IDENTITY_INSERT [dbo].[Prodavec] ON 

INSERT [dbo].[Prodavec] ([IdProdavec], [Familia], [Name], [Otchestvo], [Tel]) VALUES (2, N'Иванов', N'Семён', N'Евгеньевич', N'777777777')
INSERT [dbo].[Prodavec] ([IdProdavec], [Familia], [Name], [Otchestvo], [Tel]) VALUES (3, N'Копанев', N'Даниил', N'Олегович', N'788888888')
INSERT [dbo].[Prodavec] ([IdProdavec], [Familia], [Name], [Otchestvo], [Tel]) VALUES (4, N'Ушаков', N'Сергей', N'Александрович', N'799999999')
SET IDENTITY_INSERT [dbo].[Prodavec] OFF
GO
SET IDENTITY_INSERT [dbo].[Rayon] ON 

INSERT [dbo].[Rayon] ([IdRayon], [NameRayona], [NumRayona]) VALUES (1, N'Восьмой', 8)
INSERT [dbo].[Rayon] ([IdRayon], [NameRayona], [NumRayona]) VALUES (3, N'Южный', 5)
INSERT [dbo].[Rayon] ([IdRayon], [NameRayona], [NumRayona]) VALUES (4, N'Октябарский', 1)
SET IDENTITY_INSERT [dbo].[Rayon] OFF
GO
INSERT [dbo].[Sdelki] ([IdSdelki], [IdNedvej], [IdProdavec], [DateSdelki], [KomissiaAgenstva]) VALUES (1, 1, 2, CAST(N'2023-02-22' AS Date), 10)
INSERT [dbo].[Sdelki] ([IdSdelki], [IdNedvej], [IdProdavec], [DateSdelki], [KomissiaAgenstva]) VALUES (2, 3, 3, CAST(N'2023-02-23' AS Date), 10)
INSERT [dbo].[Sdelki] ([IdSdelki], [IdNedvej], [IdProdavec], [DateSdelki], [KomissiaAgenstva]) VALUES (3, 4, 4, CAST(N'2023-02-24' AS Date), 15)
GO
ALTER TABLE [dbo].[Nedvezj]  WITH CHECK ADD  CONSTRAINT [FK_Nedvezj_NedvezjType] FOREIGN KEY([IdNedvezjType])
REFERENCES [dbo].[NedvezjType] ([IdNedvezjType])
GO
ALTER TABLE [dbo].[Nedvezj] CHECK CONSTRAINT [FK_Nedvezj_NedvezjType]
GO
ALTER TABLE [dbo].[Nedvezj]  WITH CHECK ADD  CONSTRAINT [FK_Nedvezj_Prodavec] FOREIGN KEY([IdProdavec])
REFERENCES [dbo].[Prodavec] ([IdProdavec])
GO
ALTER TABLE [dbo].[Nedvezj] CHECK CONSTRAINT [FK_Nedvezj_Prodavec]
GO
ALTER TABLE [dbo].[Nedvezj]  WITH CHECK ADD  CONSTRAINT [FK_Nedvezj_Rayon] FOREIGN KEY([IdRayon])
REFERENCES [dbo].[Rayon] ([IdRayon])
GO
ALTER TABLE [dbo].[Nedvezj] CHECK CONSTRAINT [FK_Nedvezj_Rayon]
GO
ALTER TABLE [dbo].[Sdelki]  WITH CHECK ADD  CONSTRAINT [FK_Sdelki_Nedvezj] FOREIGN KEY([IdNedvej])
REFERENCES [dbo].[Nedvezj] ([IdNedvezj])
GO
ALTER TABLE [dbo].[Sdelki] CHECK CONSTRAINT [FK_Sdelki_Nedvezj]
GO
ALTER TABLE [dbo].[Sdelki]  WITH CHECK ADD  CONSTRAINT [FK_Sdelki_Prodavec] FOREIGN KEY([IdProdavec])
REFERENCES [dbo].[Prodavec] ([IdProdavec])
GO
ALTER TABLE [dbo].[Sdelki] CHECK CONSTRAINT [FK_Sdelki_Prodavec]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Prodavec] FOREIGN KEY([idProdavec])
REFERENCES [dbo].[Prodavec] ([IdProdavec])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Prodavec]
GO
USE [master]
GO
